:root {
  --old_green: #3ddc84;
  --green: #3aad85;
  --black: #000000;
  --white: #ffffff;

  --darker_green: #05803C;
  --purple: #5D53DB;
  --light_green: #3DDB84;
  --red: #DB3727;
  --yellow: #DBC132;

  --background_blue: #007A78;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
